@using BlazorComponentUtilities;
<div style="@Style">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public string Color { get; set; }
    [Parameter]
    public string style { get; set; }
    public string Style { get; set; }

    protected override void OnInitialized()
    {
        SetStyles();
    }

    protected override void OnParametersSet()
    {
        SetStyles();
        base.OnParametersSet();
    }

    private void SetStyles()
    {
        Style = new CssBuilder()
            .AddValue($"background-color: {Color};")
            .AddValue("text-align: center;")
            .AddValue("height: 100%;")
            .AddValue("width: 100%;")
            .AddValue("padding: 10px;")
            .AddValue("display: flex;")
            .AddValue("flex-direction: column;")
            .AddValue("justify-content: space-around;")
            .AddValue("align-items: center;")
            .Build();

        Style += style;
    }
}
