@ChildContent
@if (!string.IsNullOrEmpty(Label)){ 
<div style="flex:0;font-size:100%;vertical-align:middle">
    <h4>@Label</h4>
</div>
}

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public String Label { get; set; }
}
