@using BlazorDeck.Shared.ComponentModels
<div class="tile-container" >
    @foreach (var tile in definition.Tiles.OrderBy((tile) => tile.Priority))
    {
        <Tile definition="tile"></Tile>
    }
</div>

@code {
    [Parameter]
    public TilePageDefinition definition { get; set; }

}
